@using ToDoList.Domain.Enum;

@{
    ViewData["Title"] = "Creating a task";
}

<h4 class="mb-3 text-muted">Creating a task</h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Task name</label>
        <input name="name" type="text" class="form-control" />
    </div>
    <label class="form-label">Task priority</label>
    <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-3">
        <label class="form-label">Task description</label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn btn-primary">Create task</button>
</form>

<div class="row">
    <div class="form-group col-md-6">
        <label class="col-form-label">Title </label>
        <input class="form-control" type="text" name="nameTask" />
    </div>
    <div class="form-group col-md-6">
        <label class="col-form-label">Priority </label>
        <select class="form-select mb-3" id="prioritySearch" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
    </div>
</div>
<br />
<table class="table table-dark table-hover" id="tableId">
    <thead>
        <tr>
            <th style="text-align:center">Title</th>
            <th style="text-align:center">Task priority</th>
            <th style="text-align:center">Description</th>
            <th style="text-align:center">Readiness</th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    <tbody style="text-align:center"></tbody>
</table>

@section Scripts
    {
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script>

        const swalWithButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success'
            },

            buttonsStyling: false
        })

        let taskTable = $('#tableId').DataTable({
            serverSide: true,
            searching: false,
            paging: false,
            sorting: false,
            columnDefs: [
                { orderable: false, targets: '_all' }
            ],

            ajax: {
                url: '@Url.Action("TaskHandler")',
                method: 'POST',
                data: model,
            },

            columns: [
                { data: 'name' },
                { data: 'priority' },
                { data: 'description' },
                { data: 'isCompleted' },
                {
                    data: null,
                    sortable: false,
                    render: function (data, type) {
                        return '<button class="btn btn-success btn-sm center-block">Complete the task</button>';
                    }
                },
            ],

            createdRow: function (nRow, data) {

                var handlerEdit = function () {
                    openModal({ url: '@Url.Action("GetTask", "Task")', data: data.id })
                }

                var handlerComplete = function () {
                    swalWithButtons.fire({
                        title: 'Are you sure?',
                        icon: 'warning',
                        confirmButtonText: 'Yes',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("EndTask")',
                                data: { id: data.id },

                                success: function (response) {
                                    Swal.fire({
                                        title: 'Information',
                                        text: response.description,
                                        icon: 'success',
                                        confirmButtonText: 'Good'
                                    })

                                    dataTable.draw();
                                },

                                error: function (response) {
                                    Swal.fire({
                                        title: 'Information',
                                        text: response.responseJSON.description,
                                        icon: 'error',
                                        confirmButtonText: 'Good'
                                    })
                                }
                            })
                        }
                    })
                }

                for (var i = 0; i < taskTable.columns().header().length - 1; i++) {
                    if (data.IsCompleted === 'Task completed')
                        $('td', nRow).eq(i).css('cursor', 'pointer');

                    else
                        $('td', nRow).eq(i).css('cursor', 'pointer');

                    $('td', nRow).eq(i).on('click', handlerEdit);
                }

                $('td button', nRow).on('click', handlerComplete); 
            }
        });

        function model() {
            return {
                Name: $('input[name="nameTask"]').val(),
                Priority: $('#prioritySearch option:selected').val(),
            }
        }

        $('#createTask').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CreateTask", "Task")',
                data: $('#createTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Information',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Good'
                    })
                },

                error: function (response) {
                    Swal.fire({
                        title: 'Information',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Good'
                    })
                }
            })
        })

        $('input[name="nameTask"]').on('change', function () {
            taskTable.draw();
        });

        $('#prioritySearch').on('change', function () {
            taskTable.draw();
        });

    </script>
}